{% extends 'base.html.twig' %}

{% block title %}Share{% endblock %}

{% block body %}
    <div class="container pt-3">
        <div class="main">
            <div class="example-wrapper">
                <h1 class="h3">Share</h1>

                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
